.breadcrumb {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(245, 197, 24, 0.26) 22.24%,
    rgba(251, 247, 252, 0) 100%
  );

  nav {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 1250px;
    padding: 0px 24px;

    ol {
      display: flex;
      padding: 0;
      margin: 0;
      font-weight: 500;
      color: var(--color-black);
      font-size: 1rem;
      cursor: pointer;

      li {
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.separator {
  margin-inline: 0.5rem;
}
.active {
  color: var(--color-primary);
}
