@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: 'Poppins', 'sans-serif';

  --color-primary: #f5c518;
  --color-secondary: rgba(245, 197, 24, 0.2);
  --color-black: #000000;
  --color-white: #ffffff;
  --color-paragraph: rgba(0, 0, 0, 0.5);
  --color-gray-100: #fafafa;
  --color-gray-200: #f3f3f3;
  --color-gray-300: #a4a4a4;
  --color-gray-400: #636363;
}
